h1{
    font-family: Helvetica;
    font-size: 48px;
    stroke-width: .05;
    font-weight: 800;
    font-style:italic;
    text-transform:uppercase;
    color: red;
    -webkit-text-stroke-color: rgb(255, 204, 127);
    -webkit-text-stroke-width: 1px;

    
}

h3{
    font-family:'Franklin Gothic Medium', sans-serif;
}

.home-body {
    background-color: #CEF8D4;
}

.burger-body{
    background-image: radial-gradient(red, orange, yellow)
}

.pasta-body{
    background-image: linear-gradient(green, aquamarine, #49E2D6);
    /* background-image: url("/recipe-images/patrick.gif"), url("/recipe-images/food.png"); */
}

.dulce-body{
    /* background-image: url("recipe-images/patrick.gif"); */
    background-repeat: no-repeat;
    /* opacity: 0.25; */
    background-color:antiquewhite;

}

.image{
    width: 300px;
    height: auto;
    float:right;
    padding: 20px;
}

.recipe-steps{
    padding: 10px;
    margin: 5px;
}

.recipe-ingredients{
    padding: 10px;
    margin: 5px;
    margin-right: 500px;
}

