h1{
    font-family: Helvetica;
    font-size: 48px;
    stroke-width: .05;
    font-weight: 800;
    font-style:italic;
    text-transform:uppercase;
    color: red;
    -webkit-text-stroke-color: rgb(255, 204, 127);
    -webkit-text-stroke-width: 1px;

    
}

/* li{
    float: left;
    clear: left;
} */

.image{
    width: 300px;
    height: auto;
    float:right;
    padding: 20px;
}

.header{

}

.recipe-steps{
    padding: 10px;
    margin: 5px;
}

.recipe-ingredients{
    padding: 10px;
    margin: 5px;
    margin-right: 500px;
}

